TRELLO_API_KEY=
TRELLO_API_TOKEN=

TRELLO_BOARD_ID=
TRELLO_PAID_LIST_ID=
TRELLO_RESULT_CARD_ID=
AMAZING_FIELDS_PLUGIN_ID=

RECONCILE_CRON_SECRET=
RECONCILE_BUTTON_SECRET=
RECONCILE_PAID_TRIGGER_SECRET=23e994f26e74d516eaf5726632531ec5372ce11204574fe4aa8f929af6fdd2ed

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

PORT=
